# Learning Python

### This is a header
*hello* `hello` 
* Point 1
* Point 2
* Point 3
https://www.kaggle.com/learn/python

In [155]:
from pprint import pprint

In [1]:
a = 'hello world'

In [2]:
print(a)

hello world

In [6]:
def plus(a, b):
    return a + b

In [7]:
plus(3, 5)

8

In [8]:
plus('hello', 'world')

'helloworld'

In [1]:
spam_amount = 0
print(spam_amount)

# Ordering Spam, egg, Spam, Spam, bacon and Spam (4 more servings of Spam)
spam_amount = spam_amount + 4

if spam_amount > 0:
    print("But I don't want ANY spam!")

viking_song = "Spam " * spam_amount
print(viking_song)

0
But I don't want ANY spam!
Spam Spam Spam Spam

In [2]:
print(5 / 2)
print(6 / 2)

2.5
3.0

In [4]:
print(5 // 2)
print(6 // 2)

2
3

In [5]:
print(5 ** 2)
print(6 ** 2)

25
36

In [11]:
hat_height_cm = 25
my_height_cm = 190
total_height_meters = (hat_height_cm + my_height_cm) / 100
print("Height in meters =", total_height_meters)

Height in meters = 2.15

In [17]:
def least_difference(a, b, c):
    """Computes the least difference between a, b and c
    
    Args:
        a: The first input
        b: The second input
        c: The third input
    
    Returns:
        The least difference between a, b and c
    """
    diff1 = abs(a - b)
    diff2 = abs(b - c)
    diff3 = abs(a - c)
    return min(diff1, diff2, diff3)

In [16]:
least_difference(1, 3, 100)

2

In [18]:
help(least_difference)

Help on function least_difference in module __main__:

least_difference(a, b, c)
    Computes the least difference between a, b and c

    Args:
        a: The first input
        b: The second input
        c: The third input

    Returns:
        The least difference between a, b and c

In [39]:
def append_list(a):
    a.append('world')
def append_str(a):
    a += 'world'

In [30]:
x = ['foo']

In [40]:
append_list(x)

In [35]:
x

['foo', 'world', 'world']

In [36]:
y = 'foo'

In [41]:
append_str(y)

In [42]:
y

'foo'

In [44]:
print(1, 2, 3, sep=' hello ')

1 hello 2 hello 3

In [45]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [47]:
def greet(who="Guest"):
    print("Hello,", who)
    
greet()
greet(who="Kaggle")
# (In this case, we don't need to specify the name of the argument, because it's unambiguous.)
greet("world")

Hello, Guest
Hello, Kaggle
Hello, world

In [56]:
def mult_by_five(x):
    return 5 * x

def square(x):
    return x * x

def exp(x):
    return 3 ** x

def print_table(l, fn):
    print('Table for', fn.__name__)
    for v in l:
        print(v, fn(v), sep=': ')

In [54]:
print_table([1, 2, 3, 4, 5], mult_by_five)

Table for mult_by_five
1: 5
2: 10
3: 15
4: 20
5: 25

In [57]:
print_table([1, 2, 3, 4, 5], exp)

Table for exp
1: 3
2: 9
3: 27
4: 81
5: 243

In [61]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [62]:
def can_run_for_president(age):
    """Can someone of the given age run for president in the US?"""
    # The US Constitution says you must be at least 35 years old
    return age >= 35

print("Can a 19-year-old run for president?", can_run_for_president(19))
print("Can a 45-year-old run for president?", can_run_for_president(45))

Can a 19-year-old run for president? False
Can a 45-year-old run for president? True

In [63]:
-8 % 3

1

In [67]:
def inspect(x):
    if x == 0:
        print(x, "is zero")
    elif x > 0:
        print(x, "is positive")
    elif x < 0:
        print(x, "is negative")
    else:
        print(x, "is unlike anything I've ever seen...")

inspect(0)
inspect(-15)

0 is zero
-15 is negative

In [72]:
print(bool(1)) # all numbers are treated as true, except 0
print(bool(0))
print(bool("asf")) # all strings are treated as true, except the empty string ""
print(bool(""))
print(bool([1, 213, 'first']))
print(bool([]))
print(bool({1, 213, 'first'}))
print(bool({}))
# Generally empty sequences (strings, lists, and other types we've yet to see like lists and tuples)
# are "falsey" and the rest are "truthy"

True
False
True
False
True
False
True
False

In [73]:
def is_list_empty(l):
    if l:
        print('The list is not empty.')
    else:
        print('The list is empty.')

In [74]:
is_list_empty(['hello', 'world'])

The list is not empty.

In [75]:
is_list_empty([])

The list is empty.

In [84]:
# (I could also have written this on one line, but it can get hard to read)
hands = [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K'], ['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

In [82]:
import pprint

In [85]:
pprint.pprint(hands)

[['J', 'Q', 'K'],
 ['2', '2', '2'],
 ['6', 'A', 'K'],
 ['J', 'Q', 'K'],
 ['2', '2', '2'],
 ['6', 'A', 'K']]

In [103]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [91]:
planets[-2]

'Uranus'

In [100]:
planets[1:]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [101]:
planets[0:3] = ['hello']

In [102]:
print(planets)

['hello', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [104]:
x = 12
# x is a real number, so its imaginary part is 0.
print(x.imag)
# Here's how to make a complex number, in case you've ever been curious:
c = 12 + 3j
print(c.imag)

0
3.0

In [105]:
print(c*c)

(135+72j)

In [117]:
print({1, 2, 4} & {1, 2, 3})

{1, 2}

In [120]:
planets.index('Earth')

2

In [121]:
'Pluto' in planets

False

In [123]:
t = 1, 2, 3

In [124]:
t[0] = 100

TypeError: 'tuple' object does not support item assignment

In [125]:
def foo():
    return 1, 2

In [126]:
a = foo()

In [127]:
a

(1, 2)

In [131]:
a, b = foo()

In [132]:
a = 1
b = 0
a, b = b, a
print(a, b)

0 1

In [145]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for i, planet in list(enumerate(planets))[1:7]:
    print(i, planet, end=' ') # print all on same line

1 Venus 2 Earth 3 Mars 4 Jupiter 5 Saturn 6 Uranus

In [146]:
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
msg = ''
# print all the uppercase letters in s, one at a time
for char in s:
    if char.isupper():
        print(char, end='')

HELLO

In [156]:
pprint(list(range(2, 100, 4)))

[2,
 6,
 10,
 14,
 18,
 22,
 26,
 30,
 34,
 38,
 42,
 46,
 50,
 54,
 58,
 62,
 66,
 70,
 74,
 78,
 82,
 86,
 90,
 94,
 98]

In [151]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [1]:
numbers = {'one':1, 'two':2, 'three':3}

In [2]:
numbers['one']

1

In [7]:
numbers[1] = 11

In [8]:
print(numbers)

{'one': 1, 'two': 2, 'three': 3, 'eleven': 11, 1: 11}

In [9]:
numbers[2]

KeyError: 2

In [81]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [83]:
' '.join(sorted(planet_to_initial.values()))

'E J M M N S U V'

In [11]:
'Saturn' in planet_to_initial

True

In [12]:
'S' in planet_to_initial

False

In [13]:
for k in numbers:
    print(f"{k} = {numbers[k]}")

one = 1
two = 2
three = 3
eleven = 11
1 = 11

In [14]:
sorted(planet_to_initial.values())

['E', 'J', 'M', 'M', 'N', 'S', 'U', 'V']

In [15]:
sorted(planet_to_initial.keys())

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

In [90]:
for planet, initial in planet_to_initial.items():
    print(f"{planet.rjust(10)} begins with \"{initial}\"")

   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupiter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"

In [18]:
s = ', '

In [20]:
s.join('123').split(", ")

['1', '2', '3']

In [28]:
a = [int(input()) for _ in range(3)]

2
3
4

In [29]:
a

[2, 3, 4]

In [32]:
short_planets = [planet for planet in planets if len(planet) < 6]
short_planets

['Venus', 'Earth', 'Mars']

In [33]:
loud_short_planets = [planet.upper() + '!' for planet in planets if len(planet) < 6]
loud_short_planets

['VENUS!', 'EARTH!', 'MARS!']

In [34]:
def count_negatives(nums):
    """Return the number of negative numbers in the given list.
    
    >>> count_negatives([5, -1, -2, 0, 3])
    2
    """
    n_negative = 0
    for num in nums:
        if num < 0:
            n_negative = n_negative + 1
    return n_negative

In [35]:
count_negatives([5, -1, -2, 0, 3])

2

In [41]:
def count_negatives_2(nums):
    return len([num for num in nums if num < 0])

In [42]:
count_negatives_2([5, -1, -2, 0, 3])

2

In [44]:
def count_negatives_3(nums):
    return sum(num < 0 for num in nums)

In [45]:
count_negatives_3([5, -1, -2, 0, 3])

2

In [49]:
print("Pluto's a planet!")
print('My dog is named "Pluto"')
print("My dog is named \"Pluto\" ")

Pluto's a planet!
My dog is named "Pluto"
My dog is named "Pluto"

In [50]:
hello = "hello\nworld"
print(hello)

hello
world

In [51]:
triplequoted_hello = """hello
world"""
print(triplequoted_hello)
triplequoted_hello == hello

hello
world

True

In [56]:
claim = "Pluto is a planet!"
planet = 'Pluto'

In [57]:
claim.startswith(planet)

True

In [58]:
claim.endswith('dwarf planet')

False

In [59]:
words = claim.split()
words

['Pluto', 'is', 'a', 'planet!']

In [60]:
datestr = '1956-01-31'
year, month, day = datestr.split('-')

In [62]:
'/'.join([month, day, year])

'01/31/1956'

In [63]:
' 👏 '.join([word.upper() for word in words])

'PLUTO 👏 IS 👏 A 👏 PLANET!'

In [65]:
position = 9
planet + ", you'll always be the " + str(position) + "th planet to me."

"Pluto, you'll always be the 9th planet to me."

In [66]:
"{}, you'll always be the {}th planet to me.".format(planet, position)

"Pluto, you'll always be the 9th planet to me."

In [71]:
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390
#         2 decimal points   3 decimal points, format as percent     separate with commas
"{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(
    planet, pluto_mass, pluto_mass / earth_mass, population,
)

"Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

In [72]:
# Referring to format() arguments by index, starting from 0
s = """Pluto's a {0}.
No, it's a {1}.
{0}!
{1}!""".format('planet', 'dwarf planet')
print(s)

Pluto's a planet.
No, it's a dwarf planet.
planet!
dwarf planet!

In [76]:
f"{planet}, you'll always be the {position}th planet to me."

"Pluto, you'll always be the 9th planet to me."

In [77]:
numbers = {'one':1, 'two':2, 'three':3}

In [78]:
numbers

{'one': 1, 'two': 2, 'three': 3}

In [80]:
numbers['one']

1

In [84]:
sorted(planets)

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

In [86]:
sorted(planets, key=len, reverse=True)

['Mercury', 'Jupiter', 'Neptune', 'Saturn', 'Uranus', 'Venus', 'Earth', 'Mars']

In [88]:
list(reversed(planets))

['Neptune', 'Uranus', 'Saturn', 'Jupiter', 'Mars', 'Earth', 'Venus', 'Mercury']

In [1]:
list(zip([1, 2, 3], ['a', 'b', 'c']))

[(1, 'a'), (2, 'b'), (3, 'c')]